@page "/bewijslast/leerdoel4"
@inject HttpClient Http

<h1>Leerdoel 4 - Adviseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om advies te geven over een keuze uit verschillende rapportagetools.</i></p>

<h3>Inleiding</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
