@page "/bewijslast/leerdoel4"
@inject HttpClient Http

<h1>Leerdoel 4 - Adviseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om advies te geven over een keuze uit verschillende rapportagetools.</i></p>

<h3>Inleiding</h3>
<p>
    Tijdens mijn stage wil ik leren om een advies te geven over de meest geschiktste rapportagetool uit verschillende rapportagetools die er zijn.
    Dit ga ik doen door POC’s te maken van de rapportagetools die uit mijn onderzoek naar boven zijn gekomen en een adviesrapport te schrijven.
    Hierdoor leer ik om advies te geven die niet alleen gebaseerd is op theorie van bronnen online, maar ook door het zelf uitgeprobeerd te hebben. 
</p>
<br />

<h5><b>Werkwijze</b></h5>
<p>
    Om een advies te kunnen geven over welk rapportagetool het meest geschiktst is voor Ranshuijsen BV, hebben mijn mede-stagiaire en ik proof of concepts (POC’s) gemaakt van de rapportagetools die uit onze onderzoeken naar boven zijn gekomen.
    Hieronder zie je een lijst van de rapportagetools die uit onze onderzoeken naar boven zijn gekomen.
</p>
<br />
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 25%">Rapportagetools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Telerik Reporting</th>
        </tr>
        <tr>
            <th>ActiveReports</th>
        </tr>
        <tr>
            <th>Seal Report</th>
        </tr>
        <tr>
            <th>DevExpress</th>
        </tr>
        <tr>
            <th>Stimulsoft</th>
        </tr>
        <tr>
            <th>Bold Reports</th>
        </tr>
    </tbody>
</table>
<p>
    Mijn mede-stagiaire en ik hebben deze lijst opgesplitst in twee delen waarbij ik POC’s van Telerik Reporting, ActiveReports en Seal Report heb gemaakt.
    De volgorde waarop ik de POC’s heb gemaakt is op basis van hoeveel punten de tools hebben gescoord in de puntenlijst (zie Bewijslast 1).
    Voor elk requirement waar de tool aan voldoet, kan de tool namelijk een aantal punten verdienen.
    <br /><br />
    Allereerst heb ik bij elk tool waar ik een POC heb voor moeten maken, een Blazor of MVC-project opgezet.
    De reden waarom ik voor een Blazor of MVC-project heb gekozen is omdat het CRM-systeem, de POC-omgeving waar we de gekozen rapportagetool uiteindelijk in zullen bouwen, deels in MVC en Blazor ontwikkeld is.
    <br /><br />
    Door een POC te maken van de tools en hierbij alle functionaliteiten/alternatieven voor de functionaliteiten van de tool te onderzoeken, ben ik erachter gekomen of de tool daadwerkelijk aan de requirements voldoen.
    De POC’s hebben we uiteindelijk gepresenteerd aan het bedrijf. In Bewijslast 2 zie je de feedback die mijn mede-stagiaire en ik hebben gekregen na onze presentatie.
    Door zelf geëxperimenteerd te hebben met de rapportagetools, heb ik beter kunnen beargumenteren waarom de tools wel of niet geschikt voor het bedrijf zijn.
    Deze informatie heb ik verwerkt in het adviesrapport (zie Bewijslast 1) die ik samen met mijn mede-stagiaire heb opgesteld. Twee van de rapportagetools hadden even hoog gescoord in de puntenlijst.
    Om de tools toch van elkaar te kunnen onderscheiden en omdat er een verschil zit in wat voor functionaliteiten de producten leverden voor de prijs, heb ik naast het beargumenteren van de rapportagetools waarmee ik heb geëxperimenteerd, ook een prijzenschema gemaakt voor de twee tools en berekend in de conclusie als feedback punt van mijn bedrijfsbegeleider.
</p>
<br />

<h5><b>Bewijslast 1</b></h5>
<p>
    <i>
        Hieronder vind je het adviesrapport dat mijn mede-stagiaire en ik hebben opgesteld.
        Hierin heb ik de rapportagetools die ik heb onderzocht beredeneert of deze wel of niet geschikt zijn.
        In de versiebeheer zie je soms dat mijn naam gekleurd is. Dit betekent dat Wing Man en ik de taken hier hebben verdeeld waarbij ik de rode gemarkeerde onderdelen heb geschreven.
    </i>
    <div class="pdfviewer">
        <embed src="pdf/Adviesrapport.pdf" style="height: 100vh; width: 90vw;"/>
    </div>
</p>
<br />

<h5><b>Bewijslast 2</b></h5>
<p>
    <i>
        Hieronder vind je de feedback die ik van een aantal collega’s heb gekregen.
        Helaas ben ik er te laat achtergekomen dat de feedback van andere collega’s niet zijn opgenomen waardoor ik deze niet heb kunnen noteren.
    </i>
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 25%">Diederik</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <ul>
                    <li>Het presenteren van het rapport ging heel goed, voor een eerste keer was het echt super</li>
                    <li>Presentatie was duidelijk, grote hoeveelheid data was duidelijk en overzichtelijk weergegeven</li>
                    <li>Er was ook een voorbeeld pagina gemaakt om zelf iets te maken (weet niet precies meer wat), maar dat was echt knap</li>
                    <li>Kan me niet meer herinneren of er een echte conclusie pagina hadden, einde van presentatie was ook meer een wisselwerking met publiek</li>
                    <li>Hoe de rapporten gebouwd moesten worden werd duidelijk getoond, had graag ook wat gezien hoe dat aan de achterkant zou werken als we een dataset zouden gebruiken i.p.v. een query</li>
                    <li>Overal was het echt super, menig junior developer die wij hier in dienst hebben zou niet zo’n hoog niveau hebben gehaald</li>
                </ul>
            </th>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 25%">Paul</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Vond het een erg leuke en interessante presentatie. De uitweiding van alle rapportage opties en de keuze die daarop was gemaakt was erg goed uitgewerkt.
            </th>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 25%">Martijn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Je presentatie destijds was duidelijk en zorgvuldig in elkaar gezet.
            </th>
        </tr>
    </tbody>
</table>
</p>
<br />

<h5><b>Feedback bedrijfsbegeleider</b></h5>
<p>
    <i>
        "Net als bij het onderzoek naar de tools heb je snel inzichtelijk kunnen maken welke tools het beste zouden passen door de POC’s volledig uit te voeren.
        Met name het ontdekken wat niet of niet goed mogelijk was in een tool bij het ontwikkelen van de POC’s maakte dat er een gedegen advies gekomen is."
    </i>
</p>
<br />

<h5><b>Reflectie</b></h5>
<p>
    Als feedback heb ik gekregen dat ik door het volledig uitvoeren van de POC’s heb kunnen ontdekken welke tools het beste zouden passen.
    Door onderzocht te hebben wat wel of niet mogelijk was in een tool bij het ontwikkelen van de POC’s is er uiteindelijk een degelijk advies gekomen.
    <br /><br />
    Terugkijkend vind ik dat ik dit leerdoel heb behaald, omdat ik heb geleerd hoe ik een advies kan geven over verschillende rapportagetools.
    Zo heb ik advies gegeven dat niet alleen gebaseerd is op literatuuronderzoek, maar ook door de tool zelf uitgeprobeerd te hebben.
    Voor elk van mijn onderzochte rapportagetool heb ik een POC gemaakt.
    Door een POC te maken van elk tool heb ik kunnen experimenteren hoe de tools werken en alle functionaliteiten kunnen uittesten, omdat niet alle functionaliteiten beschikbaar waren in de live demo’s en/of projecten.
    Bij het maken van de POC’s ben ik zelfs erachter gekomen dat de tool wel over een aantal vereiste functionaliteiten beschikten ondanks dat het supportteam heeft gezegd dat het product niet aan de eisen voldoet. 
    <br /><br />
    De POC’s hebben mijn mede-stagiaire en ik gepresenteerd aan het bedrijf waarin we ons proces hebben verteld en ieder onze POC’s hebben gedemonstreerd.
    Als feedback op deze presentatie hebben we veel positieve punten gekregen (zie Bewijslast 2).
    In de toekomst zal ik eerder om geschreven feedback vragen van mijn collega’s, omdat ik nu last minute erachter ben gekomen dat ik de feedback van een aantal collega’s niet meer heb.
    Deze zijn namelijk niet opgenomen.
    <br /><br />
    Bij het opstellen van het adviesrapport hebben mijn mede-stagiaire en ik ieder onze eigen bevindingen van de tools beschreven en de voor- en nadelen van de tool tegenover de andere tools benoemd.
    Waarschijnlijk zijn er nog andere manieren om adviesrapporten op te stellen en dus wil ik in de toekomst nog meer manieren willen leren van hoe ik een adviesrapport kan opstellen.
</p>

