@page "/bewijslast/leerdoel8"
@inject HttpClient Http

<h1>Leerdoel 8 - Realiseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om een rapportagetool te implementeren in een bestaand systeem met gebruik van bestaande frameworks (MVC/Blazor).</i></p>

<h3>Inleiding</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
