@page "/bewijslast/leerdoel7"
@inject HttpClient Http

<h1>Leerdoel 7 - Realiseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om een rapportagetool te realiseren die voldoet aan de opgestelde requirements en met kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.</i></p>

<h3>Inleiding</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
