@page "/bewijslast/leerdoel3"
@inject HttpClient Http

<h1>Leerdoel 3 - Analyseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om de functionaliteiten en ontwerp van verschillende rapportagetools te onderzoeken.</i></p>

<br />

<h3>Inleiding</h3>
<p>
    Mijn derde leerdoel is het analyseren van de functionaliteiten en ontwerp van verschillende rapportagetools.
    Om een rapportagetool te selecteren die voldoet aan de opgestelde requirements van het bedrijf is het van belang om een onderzoek te doen naar rapportagetools die er zijn en of deze voldoen aan de requirements.
    Als bewijslast lever ik hiervoor een onderzoeksverslag in en een test die ik heb gedaan op een live demo van een rapportagetool.
</p>
<br />

<h5><b>Werkwijze</b></h5>
<p>
    Om dit leerdoel te behalen heb ik onderzoek gedaan naar wat een rapportagetool is en welke mogelijk voldoen aan de opgestelde requirements.
    Zie Bewijslast 1 voor het verslag van het onderzoek. Het onderzoek bestond uit de drie onderdelen:
    <ul>
        <li>Wat is een rapportagetool</li>
        <li>Het verzamelen van verschillende rapportagetools die mogelijk voldoen aan de opgestelde criteria.</li>
        <li>Het nagaan van de functionaliteiten van de rapportagetools door contact op te nemen met de leveranciers en live demo’s of sample projecten te testen.</li>
    </ul>
    Samen met mijn mede-stagiaire heb ik een lijst opgesteld van rapportagetools die mogelijk voldoen aan de requirements.
    Omdat deze lijst zeer lang was, hebben mijn mede-stagiaire en ik besloten om de lijst op te splitsen in twee delen.
    Ik heb onderzoek gedaan naar een deel van de gevonden rapportagetools en mijn mede-stagiaire het andere deel.
    In het onderzoeksverslag is de lijst van rapportagetools te vinden die ik heb onderzocht.
    Van elk tool in mijn lijst heb ik onderzocht of deze aan de opgestelde requirements voldoet door contact op te nemen met de klantenservice van het product en de functionaliteiten van het product te testen in de live demo’s of sample projecten.
    In Bewijslast 2 is een voorbeeld te vinden van een demo test die ik heb uitgevoerd op Telerik Reporting.
    Hierbij heb ik elk requirement groen (voldoet aan requirement) of rood (voldoet niet aan requirement) gemarkeerd en eventueel een afbeelding/notitie toegevoegd ter verduidelijking.
    Hieronder bevindt zich de lijst van de rapportagetools die uit mijn onderzoek naar boven zijn gekomen en mogelijk aan alle opgestelde eisen voldoen.
    <ul>
        <li>Telerik Reporting</li>
        <li>ActiveReports</li>
        <li>Seal Report</li>
    </ul>
    Om erachter te komen of deze tools daadwerkelijk aan alle opgestelde must-have requirements voldoen, heb ik voor de onderzochte tools een proof of concept (POC) gemaakt.
    De resultaten van de POC’s en de puntenlijst zijn te vinden in het adviesrapport in <a href="/bewijslast/leerdoel4">Leerdoel 4</a>.
    De POC’s van de tools zijn gemaakt in de volgorde van hoeveel punten de tools hebben gescoord op basis van de requirements.
</p>
<br />

<h3><b>Bewijslast 1</b></h3>
<p>
    <i>Hieronder vind je het onderzoeksrapport dat ik heb geschreven.</i>
    <div class="pdfviewer">
        <embed src="pdf/Onderzoeksrapport.pdf" style="height: 100vh; width: 90vw;"/>
    </div>
</p>
<br />

<h3><b>Bewijslast 2</b></h3>
<p>
    <i>
    Hieronder zie je een uitwerking van hoe ik een live demo heb uitgewerkt.
    Tijdens deze test ben ik elk requirement in de opgestelde requirements afgegaan om te kijken of de tool voldoet aan de requirements.
    </i>
    <div class="pdfviewer">
        <embed src="pdf/DemoTestTelerikReporting.pdf" style="height: 100vh; width: 90vw;"/>
    </div>
</p>
<br />

<h3>Feedback bedrijfsbegeleider</h3>
<p>
    <i>
    "Je hebt een hoop tijd gestoken in het zoeken naar en het doorgronden van de verschillende tools en ook specifiek naar de punten uit de MosCow lijst.
    Ondanks dat wij hier al een tijd mee bezig zijn waren er toch een aantal nieuwe verrassende tools die wij anders niet gevonden zouden hebben.
    Ik heb gezien dat je alle ins en outs van de tools bekeken en onderzocht hebt.
    Gezien de hoeveelheid aan functionaliteit een flinke klus, maar heef bijgedragen aan het maken van de juiste keuzes."
    </i>
</p>
<br />

<h3>Reflectie</h3>
<p>
    Als feedback heb ik gekregen dat ik dankzij het besteden van een hoop tijd in het onderzoeken en het doorgronden van rapportagetools, een aantal nieuwe tools heb ontdekt wat het bedrijf niet eerder heeft gevonden.
    Door de tools goed onderzocht te hebben, kon ik de juiste keuze maken of deze wel of niet aan de opgestelde eisen voldoet.
    <br /><br />
    De onderzoeksfase heeft meer tijd gekost dan gepland. Dit komt doordat we veel meer tools hadden gevonden dan we hadden verwacht en de schatting van hoelang zo’n onderzoek zou duren heb ik onderschat bij het maken van de planning in de Gantt Chart.
    Daarnaast moest ik vaak lang wachten op een antwoord of de tool aan de opgestelde requirements voldoet.
    Veel mensen van de klantenservice adviseerde me om het product meteen uit te proberen, omdat ze niet de moeite wouden nemen om de requirements door te nemen die ik had.
    Dit was echter niet mogelijk, omdat mijn bedrijfsbegeleider heeft gezegd dat we POC’s moeten gaan maken op basis van de score in de puntenlijst (<a href="/bewijslast/leerdoel4">zie adviesrapport in Leerdoel 4</a>).
    Wel namen de klantenservice tijd om vragen te beantwoorden, wanneer ik mijn vragen in meerdere mails opstuurde. 
    <br /><br />
    Naast het onderzoeken van de tools, heb ik een onderzoeksrapport opgesteld om hier de gevonden resultaten in te verwerken (zie Bewijslast 1).
    Volgens mij is het mijn eerste keer dat ik een onderzoeksrapport heb opgesteld waarbij ik niet alleen literatuuronderzoek doe.
    Allereerst wilde ik alleen een samenvatting te schrijven van mijn onderzoek, maar uiteindelijk had ik toch besloten om hier hoofd- en deelvragen bij te gebruiken.
    Hierdoor kon ik namelijk meer oefenen met het schrijven van een rapport met hoofd- en deelvragen.
    <br /><br />
    Terugkijkend vind ik dat ik dit leerdoel heb behaald, omdat ik gedurende het onderzoek naar rapportagetools heb ik geleerd wat rapportagetools zijn, wat voor functionaliteiten elk tool aanbiedt en of deze mogelijk voldoet aan de opgestelde eisen.
    Daarnaast heb ik geleerd om op verschillende manieren na te gaan of een product aan de gewenste eisen voldoet.
    Zo heb ik niet alleen gegoogeld naar de rapportagetools, maar ook live demo’s/projecten uitgetest (zie Bewijslast 2) op de websites van de tools en contact opgenomen met de klantenservice.
    Tijdens mijn onderzoek heb ik geleerd dat door de demo’s/projecten uit te proberen, je beter kan achterhalen of een tool aan de requirements voldoet.
    Niet alle functionaliteiten waren beschikbaar in de live demo’s waardoor je per sé een POC moet maken om te kijken of de functionaliteit werkt en/of hier een alternatief voor is.
    <br /><br />
    Het schrijven van een onderzoeksrapport vind ik persoonlijk wel vermoeiend als je het alleen moet doen.
    Vooral als je klaar bent met het testen van de tools en dan beseft dat je nog een heel verslag moet schrijven.
    Echter vind ik dat het wel iets is wat ik moet kunnen en waarschijnlijk zal ik het in de toekomst vaker moeten doen.
    In de toekomst hoop ik opnieuw zo’n onderzoeksfase te kunnen doen waarbij ik verschillende producten kan onderzoeken en met elkaar kan vergelijken.
</p>
