@page "/bewijslast/leerdoel3"
@inject HttpClient Http

<h1>Leerdoel 3 - Analyseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om de functionaliteiten en ontwerp van verschillende rapportagetools te onderzoeken.</i></p>

<h3 class="mat-subtitle1">Progress</h3>
<MatProgressBar Progress="0.25"></MatProgressBar>
<br />

<h3>Inleiding</h3>
<p>
    Mijn derde leerdoel is het analyseren van de functionaliteiten en ontwerp van verschillende rapportagetools. Om dit te behalen heb ik met behulp van de opgestelde requirements gezocht naar rapportagetools die hier (deels) aan voldoen.<br />
    Helaas was er online niet altijd veel te vinden over de tools dus heb ik ook contact opgenomen met de klantensupport van de tools om een schriftelijke bevestiging te krijgen of de tools aan de opgestelde requirements voldoen.

    Om de functionaliteiten van de rapportagetools uit te testen en erachter te komen of de tools daadwerkelijk aan de requirements voldoen ga ik POC’s maken van de tools die het hoogst scoren (puntenscore op basis van aan hoeveel requirements de tool voldoet en de prioriteit van deze requirements).
</p>
<br />

<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
