@page "/bewijslast/leerdoel1"
@inject HttpClient Http

<h1>Leerdoel 1 - Manage &#38; Control</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om mijn (project)voortgang te bewaken.</i></p>

<br />

<h3>Inleiding</h3>
<p>Gedurende mijn stage heb ik geleerd om mijn (project)taken bij te houden door een Product Breakdown en Gantt Chart te maken. Deze houd ik dagelijks bij om de voortgang te kunnen bewaken.</p>
<br />

<h5><b>De Takenlijst</b></h5>
<p>
    Ranshuijsen heeft in hun eigen CRM-systeem een Takenlijst gebouwd met een product breakdown structuur. Met de Takenlijst kan er onder andere bijgehouden worden hoe lang er aan een taak gewerkt wordt, wat de status van de taak is en wie er aan de taak werken.
    Daarnaast kunnen de taken gefilterd, gegroepeerd en gesorteerd worden op basis van de status, uitvoerders, aanmaakdatum etc. (zie bewijslast 1).
    Na het opstellen van een product breakdown heb ik deze eerst laten goedkeuren door mijn bedrijfsbegeleider voordat ik het in de Takenlijst heb toegevoegd.
</p>
<br />

<h5><b>Gantt Chart</b></h5>
<p>
    Na mijn tweede voortgangsmeeting heb ik geleerd om een Gantt Chart te maken om een overzicht te hebben van mijn projectplanning (zie bewijslast 2).
    Veel online tools waren erg ingewikkeld om een Gantt Chart mee te maken dus heb ik besloten om mijn eigen Gantt Chart op te zetten met behulp van Excel.
    Deze heb ik samen met mijn mede-stagiaire Wing Man Chung ingevuld. Deze Gantt Chart gebruik ik dagelijks om het up-to-date te houden en tijdens mijn voortgangsmeetings met de bedrijfsbegeleider om hem de voortgang en e.v.t. vertragingen te laten zien.
</p>
<br />

<h5><b>Voortgangsmeeting met bedrijfsbegeleider</b></h5>
<p>
    Tijdens mijn stage wil ik mijn bedrijfsbegeleider up-to-date te houden over de projectvoortgang.
    Dit ga ik doen door middel van voortgangsmeetings die ik wekelijks met hem inplan. Hieronder is een logboek van de besproken punten per wekelijkse meeting.
</p>
<br />

<h5><b>Bewijslast 1</b></h5>
<p><i>Hieronder is een screenshot te zien van mijn Takenlijst.</i></p>
<ul>
    <li><i>1.	Om een taak te creëeren kun je rechtsbovenin op de blauwe knop drukken of linksonderin.</i></li>
    <li><i>2.	Uren kunnen getracked worden door op de klok te drukken. De werkelijke gemaakte tijden met datum zijn op het moment terug te vinden in de Logboek of het uren rapportage.</i></li>
    <li><i>3.	Voor elk taak kan er meerdere subtaken worden aangemaakt.</i></li>
    <li><i>4.	De status van een taak kan op elk moment gewijzigd worden.</i></li>
    <li><i>5.	Aan de linkerkant is een lijst van filters en sorteermogelijkheden voor de taken.</i></li>
</ul>
<img src="images/Takenlijst.png" style="width:85%;height:auto;" />
<br />


<h5><b>Bewijslast 2</b></h5>
<img src="images/Gantt Chart.png" style="width:85%;height:auto;" />
<br />
<br />

<h5><b>Bewijslast 3</b></h5>
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 20%">Datum</th>
            <th style="width: 80%">Besproken punten</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Week 3 17-09-2021 1:17 uur</th>
            <th>
                <p>Wat we de afgelopen week hebben gedaan (interviews + opstellen requirements)</p>
                <p>Vragen die zijn voortgekomen uit de interviews</p>
            </th>
        </tr>
        <tr>
            <th>Week 4 24-09-2021 00:39 uur</th>
            <th>
                <p>Gantt Chart besproken</p>
                <p>Lijst van opgestelde rapportagetools laten zien</p>
                <p>Requirementsanalysedocument</p>
            </th>
        </tr>
    </tbody>
</table>
<br />

<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
