@page "/bewijslast/leerdoel1"
@inject HttpClient Http

<h1>Leerdoel 1 - Manage &#38; Control</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om mijn (project)voortgang te bewaken.</i></p>

<br />

<h3>Inleiding</h3>
<p>
    In de afgelopen twee jaar op de opleiding heb ik gemerkt dat de voortgang van mijn schoolprojecten niet altijd goed werd bewaakt.
    Zelf nam ik nooit de verantwoordelijkheid op me om de voortgang van het project bij te houden met het scrumboard die we destijds op Trello maakten.
    Omdat ik wil leren om de voortgang van een project bij te houden en andere manieren wil proberen om de voortgang van een project bij te houden, heb ik besloten om hier een leerdoel van te maken.
</p>
<br />

<h5><b>Werkwijze</b></h5>
<p>
    Om de voortgang van mijn stageopdracht te bewaken, heb ik besloten om wekelijks een voortgangsmeeting in te plannen met mijn bedrijfsbegeleider.
    In deze meetings vertel ik wat mijn mede-stagiaire, Wing Man Chung, en ik de afgelopen week hebben gedaan en laat ik het proces en/of het resultaat zien.
    In de eerste meeting heeft mijn bedrijfsbegeleider me uitgelegd hoe ik de voortgang van mijn project kan bijhouden door middel van een Product Breakdown en Gantt Chart.
    Hieronder worden de hulpmiddelen beschreven die ik heb gebruikt om de voortgang van mijn stageopdracht bij te houden en de daarbij behorende bewijslast.
</p>
<br />

<h5><b>De Takenlijst</b></h5>
<p>
   Ranshuijsen heeft in hun eigen CRM-systeem een Takenlijst gebouwd met een Product Breakdown structuur.
   Met de Takenlijst kan er onder andere bijgehouden worden hoe lang er aan een taak gewerkt wordt, wat de status van de taak is en wie er aan de taak werken.
   Daarnaast kunnen de taken gefilterd, gegroepeerd en gesorteerd worden op basis van de status, uitvoerders, aanmaakdatum etc. (zie Bewijslast 1).
   Voordat ik de taken in de Takenlijst vul die nodig zijn om het eindresultaat te behalen, heeft mijn bedrijfsbegeleider als advies gegeven om allereerst op papier een Product Breakdown te maken.
   Door het allereerst op papier te zetten, kan ik namelijk brainstormen over wat er allemaal nodig is om het project te laten slagen en eventuele fouten makkelijk wijzigen. Als ik het meteen in de Takenlijst gevuld zou hebben dan kost het aanpassen van eventuele fouten veel meer tijd.
</p>

<h6><b>Product Breakdown</b></h6>
<p>
    Een Product Breakdown dient als een hulpmiddel om een project/product op te splitsen in meerdere componenten.
    De Product Breakdown structuur is een hiërarchische structuur van producten en middelen die een project nodig heeft om te slagen.
    Het begint bovenaan met het eindproduct, gevolgd door subcategorieën met elementen die gelinkt zijn aan het product (Toolshero, zd). 
    Hieronder is een afbeelding te vinden van de Product Breakdown die ik samen met mijn mede-stagiaire heb gemaakt.
    Na het opstellen van een product breakdown heb ik deze eerst goed laten keuren door mijn bedrijfsbegeleider voordat ik het in de Takenlijst heb toegevoegd.
</p>
<br />

<img src="images/ProductBreakdown.jpg" style="width:85%;height:auto;" />
<br />
<br />

<h5><b>Gantt Chart</b></h5>
<p>
    Na het maken van de Product Breakdown heb ik geleerd om een Gantt Chart te maken waarmee ik de planning van het project kan bijhouden (zie Bewijslast 2). 
    Een Gantt Chart is een visueel hulpmiddel dat gebruikt kan worden voor een overzicht van de structuur en de tijdsplanning van een project (Teamleader, 2021). 
    Met een Gantt Chart weten alle betrokkenen wanneer welke taken uitgevoerd moeten worden. 
    In een Gantt Chart kunnen de volgende onderdelen worden getoond:
    <ul>
        <li>De start- en einddatum van een project</li>
        <li>Uit welke taken het project bestaat</li>
        <li>Welke personen aan welke taken werken</li>
        <li>De geplande begin- en einddatum van de taken</li>
        <li>Een schatting van hoelang elke taak zal duren</li>
    </ul>
    Veel tools online waren erg ingewikkeld om een Gantt Chart mee te maken dus heb ik besloten om mijn eigen Gantt Chart op te zetten in Excel.
    Deze heb ik samen met mijn mede-stagiaire ingevuld. In de Gantt Chart zijn de componenten verwerkt die mijn mede-stagiaire en ik samen hebben opgesteld in de Product Breakdown.
    De Gantt Chart houd ik dagelijks bij en ter voorbereiding van de voortgangsmeetings met de bedrijfsbegeleider om de voortgang en eventuele vertragingen te bespreken. De geschatte tijden van de taken heb ik ingevuld in de Takenlijst.
    Hiermee kan ik de daadwerkelijk gemaakte uren registreren en in de Gantt Chart verwerken.
</p>
<br />

<h5><b>Voortgangsmeeting met bedrijfsbegeleider</b></h5>
<p>
    Tijdens mijn stage wil ik mijn bedrijfsbegeleider up-to-date te houden over de projectvoortgang.
    Dit heb ik gedaan door middel van voortgangsmeetings die ik wekelijks met hem inplan. 
    Zie Bewijslast 3 voor het logboek van de wekelijkse meetings met de besproken punten. 
</p>
<br />

<h5><b>Bewijslast 1</b></h5>
<p><i>Hieronder is een screenshot te zien van mijn Takenlijst.</i></p>
<ul>
    <li><i>1.	Om een taak te creëeren kun je rechtsbovenin op de blauwe knop drukken of linksonderin.</i></li>
    <li><i>2.	Uren kunnen getracked worden door op de klok te drukken. De werkelijke gemaakte tijden met datum zijn op het moment terug te vinden in de Logboek of het uren rapportage.</i></li>
    <li><i>3.	Voor elk taak kan er meerdere subtaken worden aangemaakt.</i></li>
    <li><i>4.	De status van een taak kan op elk moment gewijzigd worden.</i></li>
    <li><i>5.	Aan de linkerkant is een lijst van filters en sorteermogelijkheden voor de taken.</i></li>
</ul>
<img src="images/Takenlijst.png" style="max-width: 80vw; height:auto;" />
<br />
<br />


<h5><b>Bewijslast 2</b></h5>
<p><i>Hieronder zie je eerste versie van de Gantt Chart</i></p>
<img src="images/GanttChartV1.png" style="max-width: 80vw; height:auto;" />
<br />
<br />
<p><i>Hieronder zie je de bijgewerkte versie van de Gantt Chart na het verwerken van de feedback van de bedrijfsgebeleider.</i></p>
<img src="images/GanttChartV2.png" style="max-width: 80vw; height:auto;" />
<br />
<br />

<h5><b>Feedback bedrijfsbegeleider op Product Breakdown en Gantt Chart</b></h5>
<p>
    <i>
    “Ik heb ernaar gekeken
    Ziet er goed uit (visueel gezien) goed die kleuren!
    Ook de inhoud ziet er prima uit.
    Bij de POC’s maken zal je vanzelf de POC per tool in gaan vullen denk ik. Hoef je niet al van tevoren te weten. Werk de PB en de gantt chart bij zodra je meer details weet!

    Top start van een PB en GC!
    Fijn ook dat je bijhoudt wat er af is met de vinkjes!
    Houd de tool ook bij op niet gehaald, zodat je ziet waar mogelijk problemen zitten!

    Interessant om in te schatten hoeveel tijd je per product in de PB nodig denkt te hebben!
    Dan kan je ook toetsen of je de planning nog blijft halen en waar je uitloopt hebt gehad!

    Goed bezig!

    Groet
    Rim”
    </i>
</p>

<h5><b>Bewijslast 3</b></h5>
<p>
    <i>
    Naast het bewaken van de projectvoortgang met een Gantt Chart, heb ik ook een afspraak gemaakt met mijn bedrijfsbegeleider om wekelijks een voortgangsmeeting in te plannen om de voortgang van het project te bespreken.
    Dankzij deze meetings moet ik continue de Gantt Chart bijwerken en de planning in de gaten houden. In Bewijslast 3 is een overzicht te vinden van de voortgangsmeetings en de daarbij behorende besproken punten.
    </i>
</p>
<table class="table">
    <thead style="background-color: #00005a; color: white;">
        <tr>
            <th style="width: 20%">Datum</th>
            <th style="width: 80%">Besproken punten</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Week 3 17-09-2021 1:17 uur</th>
            <th>
                <p>Wat we de afgelopen week hebben gedaan (interviews + opstellen requirements)</p>
                <p>Vragen die zijn voortgekomen uit de interviews</p>
            </th>
        </tr>
        <tr>
            <th>Week 4 24-09-2021 00:39 uur</th>
            <th>
                <p>Gantt Chart besproken</p>
                <p>Lijst van opgestelde rapportagetools laten zien</p>
                <p>Requirementsanalysedocument</p>
            </th>
        </tr>
        <tr>
            <th>Week 5 1-10-2021 00:38 uur</th>
            <th>
                <p>Gantt Chart besproken</p>
                <p>Lijst van opgestelde rapportagetools laten zien</p>
                <p>POC besproken (Hoe te werk, Ieder 3 POC's)</p>
                <p>Requirements</p>
            </th>
        </tr>
        <tr>
            <th>Week 6 8-10-2021 01:27 uur</th>
            <th>
                <p>Voortgang POC besproken Telerik Reporting &amp; DevExpress</p>
            </th>
        </tr>
        <tr>
            <th>Week 7 15-10-2021 01:31 uur</th>
            <th>
                <p>Voortgang POC besproken Telerik Reporting, ActiveReports, Stimulsoft &amp; DevExpress</p>
            </th>
        </tr>
        <tr>
            <th>Week 8 22-10-2021 01:15 uur</th>
            <th>
                <p>Voortgang POC besproken ActiveReports &amp; Stimulsoft</p>
            </th>
        </tr>
        <tr>
            <th>Week 9 1-11-2021 01:19 uur</th>
            <th>
                <p>Voortgang POC besproken SealReport &amp; BoldReports</p>
            </th>
        </tr>
        <tr>
            <th>Week 10 22-11-2021 01:31 uur</th>
            <th>
                <p>Voortgang POC besproken</p>
                <p>Vragen over demo voorbereiding</p>
            </th>
        </tr>
        <tr>
            <th>Week 11 29-11-2021 01:00 uur</th>
            <th>
                <p>Use Case Diagram besproken</p>
                <p>Planning voor advies rapport + onderzoeksrapport bespreken</p>
            </th>
        </tr>
        <tr>
            <th>Week 12 6-11-2021 01:05 uur</th>
            <th>
                <p>Class diagram besproken</p>
                <p>Activity diagram besproken</p>
                <p>Mock-up vragen besproken</p>
                <p>Adviesrapport besproken</p>
            </th>
        </tr>
        <tr>
            <th>Week 13 7-12-2021 02:44 uur</th>
            <th>
                <p>Voortgang Rapportage Framework</p>
            </th>
        </tr>
        <tr>
            <th>Week 14 13-12-2021 01:04 uur</th>
            <th>
                <p>Voortgang Rapportage Framework</p>
            </th>
        </tr>
        <tr>
            <th>Week 15 20-12-2021 00:55 uur</th>
            <th>
                <p>Voortgang Rapportage Framework</p>
            </th>
        </tr>
        <tr>
            <th>Week 16 6-1-2021 02:02 uur</th>
            <th>
                <p>Voortgang Rapportage Framework</p>
            </th>
        </tr>
        <tr>
            <th>Week 17 14-1-2021 01:09 uur</th>
            <th>
                <p>Rapportagetool framework en draaitabel besproken</p>
                <p>Portfolio besproken</p>
                <p>Adviesformulier ingevuld</p>
                <p>Planning voor volgende week</p>
            </th>
        </tr>
    </tbody>
</table>
<br />

<h3>Feedback bedrijfsbegeleider</h3>
<p>
    <i>
    “Vanaf het begin af aan heb ik het gevoel dat ze mij betrokken houden bij de voortgang van het project.
    Ze nemen initiatief om meetings te hebben en de vragen te beantwoord te krijgen.
    We konden goed uitdiepen hoe het zowel inhoudelijk als procesmatig verliep. Als ik niet beschikbaar was zorgden ze voor opvolging in een nieuwe meeting.
    Als verbeterpunt zou ik mee willen geven dat ze vaker vragen mogen stellen en niet per se hoeven te wachten op een overlegmoment.”
    </i>
</p>

<h3>Reflectie</h3>
<p>
    Als feedback heb ik gekregen dat de bedrijfsgebeleider zich betrokken voelt bij de voortgang van het project.
    Voordat mijn stage begon had ik besloten om als onderdeel van dit leerdoel wekelijks een voortgangsmeeting in te plannen met mijn bedrijfsbegeleider om hem up-to-date te houden over de voortgang van het project.
    Dankzij deze meetings was ik continu bezig met het bewaken van de voortgang van het project en kon ik ook de bedrijfsbegeleider meenemen in het proces. 
    <br /><br />
    Als verbeterpunt heb ik gekregen om vaker vragen te mogen stellen en niet per sé hoef te wachten op een overlegmoment.
    Gedurende mijn stage stelde ik vaak pas vragen tijdens een voortgangsmeeting, omdat ik ter voorbereiden van de meeting pas bedenk wat voor vragen ik wil stellen.
    Van deze verbeterpunt heb ik geleerd dat mijn bedrijfsbegeleider en collega’s altijd open staan voor vragen en dat het verzamelen van vragen kan leiden tot vertraging in het werkproces.
    Wat ik voor de volgende keer anders zal doen is om vragen meteen te stellen als het nodig is en deze niet te verzamelen tot een overlegmoment. 
    <br /><br />
    Als feedback van mijn bedrijfsbegeleider (zie Feedback bedrijfsgebeleider op Product Breakdown en Gantt Chart) heb ik gekregen om de Product Breakdown en Gantt Chart bij te werken wanneer ik steeds meer details weet.
    Daarnaast vindt hij het fijn dat mijn mede-stagiaire en ik onze Gantt Chart bijhouden met vinkjes. 
    Een andere feedbackpunt is om de tool bij te houden op niet gehaald. 
    Hiervoor hebben mijn mede-stagiaire en ik besloten om de niet gehaalde planningen grijs te kleuren en aan te kruisen i.p.v. aan te vinken.
    Ten slotte vindt hij de schatting van de tijden handig, omdat er dan getoetst kan worden of de planning nog gehaald kan worden en waar uitloop is geweest. 
    De gekregen feedbackpunten heb ik verwerkt in de Gantt Chart (zie Bewijslast 2).
    <br /><br />
    Terugkijkend op het proces vind ik dat ik dit leerdoel heb behaald, want voor dit leerdoel heb ik geleerd hoe ik een projectvoortgang kan bijhouden door middel van een Product Breakdown en Gantt Chart.
    Met schoolprojecten werkte ik altijd met Trello om de voortgang van het project bij te houden, maar de Product Breakdown manier die ik heb geleerd en het maken van een Gantt Chart is veel overzichtelijker en fijner om mee te werken.
    Omdat ik deze twee hulpmiddelen erg fijn vind om mee te werken zal ik in toekomstige projecten kijken of ik deze twee middelen kan gebruiken om de voortgang bij te houden gecombineerd met Trello, omdat je op Trello gemakkelijk kaarten kan maken voor de taken die gedaan moeten worden en deze kan op splitsen in To Do, Doing en Done. 
</p>
