@page "/bewijslast/leerdoel2"
@inject HttpClient Http

<h1>Leerdoel 2 - Analyseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om een requirementsanalyse uit te voeren met verschillende belanghebbenden.</i></p>

<h3 class="mat-subtitle1">Progress</h3>
<MatProgressBar Progress="0"></MatProgressBar>
<br />

<h3>Inleiding</h3>
<p>
    Voor het behalen van deze leerdoel heb ik interviews gehouden met verschillende belanghebbenden in het bedrijf. Allereerst heb ik een aantal vragen opgesteld over de huidige problemen en gewenste eisen in rapportagetools.<br />
    Deze heb ik uiteindelijk samengevoegd met de vragen van mijn mede-stagiaire Wing Man. Na het opstellen van de vragen hebben Wing Man en ik een interview gehouden met onze bedrijfsbegeleider.<br />
    In dit interview is Wing Man voornamelijk aan het woord geweest en heb ik genotuleerd en evt. vragen gesteld voor verduidelijking. Uit dit interview zijn we te weten gekomen wie de belangrijkste belanghebbenden zijn in het bedrijf en met deze mensen heb ik contact opgenomen via de mail, teams en persoonlijk.<br />
    Voor het interview met deze belanghebbenden heb ik de vragen gesteld en heeft Wing Man genotuleerd. Na de interviews met de belanghebbenden hebben Wing Man en ik samen de requirements uit de antwoorden van alle geïnterviewden gehaald en deze geprioriteerd met de MoSCoW methode.
</p>
<br />

<h3>Bewijsmateriaal</h3>
<p>Lijst van requirements + akkoord van belanghebbenden</p>
<br />

<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
