@page "/bewijslast/leerdoel9"
@inject HttpClient Http

<h1>Leerdoel 9 - Professional skills</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.</i></p>

<h3>Inleiding</h3>
<h3>Toelichting</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
