@page "/bewijslast/leerdoel10"
@inject HttpClient Http

<h1>Leerdoel 10 - Professional skills</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om werkzaamheden zelfstandig uit te voeren door taken op te stellen en deze op te pakken en feedback te vragen.</i></p>

<h3>Inleiding</h3>
<p>
    In de afgelopen jaren op mijn opleiding heb ik vaak in groepen aan taken gewerkt, maar gedurende mijn stage wil ik leren om zelfstandig taken te bedenken, deze uit te voeren en feedback te vragen wanneer het nodig is.
    Als bewijslast zal ik een enquête maken voor mijn collega’s om feedback te krijgen van hoe ik het heb gedaan, in hun perspectief.
</p>
<br />

<h5><b>Werkwijze</b></h5>
<h6><b>Opstellen taken</b></h6>
<p>
    Aan het begin van mijn stage heb ik een Product Breakdown en Gantt Chart gemaakt met mijn mede-stagiaire om een overzicht te krijgen van wat er gedaan moet worden om het project succesvol af te ronden.
    Elke week gebruik ik deze dan ook om te kijken wat voor taken ik moet opstellen en uitvoeren (zie Bewijslast 2 in Leerdoel 1).
    In deze Gantt Chart is ook te zien hoelang mijn mede-stagiaire en ik ieder aan een taak heb gewerkt.
</p>
<br />

<h6><b>Uitvoeren taken</b></h6>
<p>
    Ondanks dat ik samen met een mede-stagiaire aan dezelfde opdracht werk, hebben we onze taken individueel uitgevoerd.
    Mocht het zo zijn dat we een taak samen uit moeten voeren dan proberen we eerst individueel ieder een deel van de taak uit te voeren om dit vervolgens samen te voegen.
    Zo hebben we beide voor de interviews eerst apart interviewvragen opgesteld om deze vervolgens samen te voegen.
    Na het afronden van een belangrijke taak vraag ik mijn bedrijfsbegeleider of collega’s voor feedback als dit nodig is of bespreek ik het tijdens de wekelijkse voortgangsmeetings.
</p>
<br />

<h6><b>Aanpak problemen</b></h6>
<p>
    Vanaf de start van mijn stage heeft mijn bedrijfsbegeleider aangegeven dat bij problemen ik eerst zelfstandig moet uitzoeken hoe ik dit zelf kan oplossen, omdat ik niet constant een developer om hulp kan vragen bij een klein probleem.
    Hier ik heb rekening mee gehouden bij elk probleem die ik kreeg.
    Tijdens het maken van een POC heb ik bij problemen hulp gezocht via Google en het supportteam van de producten.
    Wanneer ik er echt niet uitkom of bij interne problemen zoals in het CRM heb ik wel om hulp gevraagd natuurlijk bij de developers of bedrijfsbegeleider.
</p>
<br />

<h5><b>Bewijslast 2</b></h5>
<div>
    <p>
        <i>
        Voor de enquête heb ik de volgende vragen opgesteld.
        Hierin zitten ook de vragen bij die ik heb opgesteld voor Leerdoel 9.
        Om te voorkomen dat collega’s twee enquêtes moeten invullen, heb ik de vragen van de twee leerdoelen samengevoegd.
        De vragen hieronder, zijn de vragen die ik heb gesteld om feedback te krijgen over mijn zelfstandigheid en wat mijn verbeterpunten zijn.
        </i>
        <br /><br />
        ========== Zelfstandigheid ==========
        <br /><br />
        Wat vond je van mijn zelfstandigheid? (Qua feedback vragen, het uitvoeren van taken etc.)
        <br /><br />
        Wat denk je dat ik anders had kunnen doen?
        <br /><br />
        ========== Hoe zou ik het beter kunnen doen vragen ==========
        <br /><br />
        Wat is een ding dat ik zou moeten verbeteren?
        <br /><br />
        Wat is één ding dat ik kan veranderen, dat voor jou het verschil maakt?
        <br /><br />
        Wat denk je dat voor mij valkuilen zijn waar ik op moet letten? (In de omgang met anderen/werken)
        <br /><br />
        Waarin zie je ontwikkelingsmogelijkheden voor mij?
        <br /><br />
        ========== Overig ==========
        <br /><br />
        Dit wil ik je nog graag vertellen.
    </p>
</div>
<br />
<h6><b>Feedback collega's</b></h6>
<p><i>Hieronder zie je de antwoorden die ik heb gekregen over de vragen die ik heb gesteld over mijn manier van werken.</i></p>
<div>
    <img src="images/FeedbackZelfstandigheid.png" style="max-width: 80vw; height:auto;" />
</div>
<div>
    <img src="images/FeedbackVerbeterPunten1.png" style="max-width: 80vw; height:auto;" />
</div>
<div>
    <img src="images/FeedbackVerbeterPunten2.png" style="max-width: 80vw; height:auto;" />
</div>
<div>
    <img src="images/FeedbackOverig.png" style="max-width: 80vw; height:auto;" />
</div>
<br />

<h5><b>Feedback Paul</b></h5>
<p>
    <i>
    "Het CRM-project heeft een iets complexere manier van migraties toevoegen dan de standaard EF manier.
    Dit heeft te maken dat het project midden in een migratie zit (van .Net 4.7 naar .NET6 en er 2 ORM’s door elkaar draaien).
    Om die reden was er wat tekst en uitleg nodig en heb ik een migratie voorgedaan.
    Wing Yee heeft dit goed opgepakt"
    </i>
</p>
<br />

<h5><b>Feedback bedrijfsbegeleider</b></h5>
<p>
    <i>
    "Wing Yee werkt bijzonder zelfstandig. Ik verbaas mij wel eens over het tempo waarin ze zelf tot resultaten komen.
    In de eerste presentatie aan de rest van het bedrijf werd dit ook bevestigd door de collega’s van Ranshuijsen. 
    Ook zij waren onder de indruk van de tot dan toe behaalde resultaten en hoe ze dit eigenhandig hebben gerealiseerd."
    </i>
</p>
<br />

<h5><b>Reflectie</b></h5>
<p>
    Als feedback heb ik gekregen de volgende feedbackpunten gekregen dat mijn collega’s mij gegeven hebben in de zelfstandigheid sectie van de enquête:
    <br />
    Wat vond je van mijn zelfstandigheid?
    <ul>
        <li>Heel goed, ik zag dat je af en toe om hulp vroeg, wat ook bij zelfstandigheid hoort. Daarnaast heb je veel dingen zelf uitgezocht en mooi resultaat opgeleverd</li>
        <li>Vrijwel alles zelfstandig uitgevoerd. Wanneer nodig om feedback gevraagd, prima</li>
        <li>Je kunt goed overweg in je eentje, maar om dit te doen heb je ook goede vooronderzoek nodig (wat jullie zeker doen). Hierin tonen jullie de juiste vaardigheden. Jullie vragen om hulp wanneer het nodig is. Ik vind jullie dan ook extravert</li>
    </ul>
    Wat denk je dat ik anders had kunnen doen?
    <ul>
        <li>Ik ben net te weinig betrokken geweest om hier goed antwoord op te geven</li>
        <li>Misschien de planning iets aanpassen zodat er eerder met dev werk begonnen kon worden om meer ruimte te hebben voor finetuning</li>
        <li>Goed, netjes werk afgeleverd waar we iets mee kunnen</li>
        <li>Misschien iets minder hard werken</li>
    </ul>
    <br />
    Van deze feedback heb ik geleerd dat mijn collega’s tevreden zijn met hoe ik zelfstandig heb gewerkt, resultaten opleveren en feedback vragen wanneer ik het nodig heb.
    Om dit leerdoel te behalen heb ik waar mogelijk is zelfstandig aan taken gewerkt. Doordat mijn mede-stagiaire en ik aan dezelfde stageopdracht werken was dit niet altijd even makkelijk, omdat je samen veel sneller taken afgerond krijgt.
    Maar om zelfstandig taken af te ronden, hebben we besloten om waar het mogelijk is zelfstandig een taak op te pakken, uit te voeren en eventueel samen te voegen.
    Dit hebben we bijvoorbeeld gedaan bij het opstellen van onze ontwerpen voor de rapportagetool en het implementeren van de rapportagetool in het CRM.
    Zo begon ik met het vastleggen van hoe de lay-out van de rapportage framework eruit kwam te zien en begon mijn mede-stagiaire later allereerst met het implementeren van de draaitabel en maakte ik hier later een draaitabel wizard voor. 
    <br /><br />
    Bij taken waar ik geen idee had hoe ik deze moest uitvoeren zoals het toevoegen van nieuwe tabellen aan de database met behulp van Entity Framework, heb ik Paul, een van de developers die veel van het CRM af weet, om hulp gevraagd (zie Feedback Paul).
    <br />
    Verbeterpunten
    <ul>
        <li>Tijdens je stage bij Ranshuijsen was je vrij afgezonderd van de rest, waardoor we je niet echt "kennen". Het is jammer dat je nooit bij de lunch aanwezig was</li>
        <li>Naast het harde werken misschien iets meer socializen af en toe, dat hoort er ook bij :-) Hoewel dat ook prima ging met onder andere de kerst-lunch</li>
        <li>Hoewel je goed zelfstandig kan werken, moet je oppassen dat je jezelf niet te veel afzondert van de rest van het bedrijf</li>
        <li>Iets meer de mensen opzoeken. Je werkt té hard :D wees goed voor jezelf. Ga in de pauze ff wat anders doen bijv.</li>
        <li>Misschien kun je proberen om een project zonder je zus te doen, als experiment, om uit je comfortzone te komen.</li>
        <li>Meer focus op front-end.</li>
        <li>Misschien iets meer betrokkenheid met de rest van het team.</li>
        <li>Let op dat je niet te afhankelijk wordt van je zus. Hoewel jullie deze stage samen hebben kunnen doen, moet je wel beseffen dat de kans groot is dat jullie straks niet bij hetzelfde bedrijf werken.</li>
    </ul>
    <br /><br />
    Wat ik de volgende keer anders zou doen is om eerder feedback van collega’s te vragen en deze te noteren.
    Ik heb namelijk te laat pas om schriftelijk feedback gevraagd over mijn presentatie aan een aantal collega’s, maar gelukkig had mijn bedrijfsbegeleider de presentatie opgenomen waardoor ik alsnog mijn collega’s kon benaderen om te vragen of ik hun feedback mag gebruiken voor in mijn portfolio.
</p>
