@page "/bewijslast/leerdoel9"
@inject HttpClient Http

<h1>Leerdoel 9 - Professional skills</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.</i></p>

<h3 class="mat-subtitle1">Progress</h3>
<MatProgressBar Progress="0.25"></MatProgressBar>
<br />

<h3>Inleiding</h3>
<p>Tijdens mijn stage wil ik leren wat voor regels en procedures Ranshuijsen hanteert. Om dit te behalen beschrijf ik hieronder wat mij is opgevallen en hoe ik me hieraan hield.</p>

<h5><b>Informatiebeveiligingscursus</b></h5>
<p>
    Elk nieuwe medewerker bij Ranshuijsen moet een informatiebeveiligingscursus doen en deze succesvol hebben afgerond. De cursus bestaat uit verschillende modules over bepaalde onderwerpen en video’s.<br />
    Elk module bevat een meerkeuzevragen toets. In deze cursus wordt onder andere uitgelegd wat Algemene Verordening Gegevensbescherming (AVG) is, hoe Ranshuijsen omgaat met de veiligheid van gegevens, het wachtwoordbeleid en dat schermen moet vergrendeld zijn bij het verlaten van de werkplek (Clear Screen) en het netjes houden van je werkplek (Clear Desk).
</p>
<br />
<h5><b>Bewijslast 1</b></h5>
<img src="images/Informatiebeveiligingscursus.png"/>
<br />

<h5><b>Onboarding module</b></h5>
<p>Naast het voltooien van de informatiebeveiligingscursus moeten nieuwe werknemers ook een onboarding module doornemen.<br />
    Hierin staat onder andere een lijst van software die zelf geïnstalleerd moeten worden op de pc, het instellen van de email handtekeningen, hoe wachtwoorden vastgelegd moeten worden enz.
</p>
<br />

<h5><b>Weekstart</b></h5>
<p>
    Elke maandag om 10:00 uur houdt Ranshuijsen een weekstart meeting. Deze meeting vindt plaats in de Microsoft Teams omgeving. In deze meetings wordt onder andere besproken de support tickets, systeembeheer, wie aan welke projecten in de komende week gaan werken, bijzonderheden, afwezigheid enz.
</p>
<br />

<h5><b>Logboek</b></h5>
<p>
    Medewerkers kunnen hun uren bijhouden met het Logboek in het CRM-systeem van Ranshuijsen. Met het Logboek kan er aangegeven worden waar je op het moment mee bezig bent samen met de starttijd en eindtijd. Het logboek heeft een terugwerkende kracht van 7 dagen waar gebruikers evt. de tijden, datums en beschrijvingen nog kunnen veranderen. Om een rapportage te krijgen van al je gemaakte uren kan er gebruik worden gemaakt van de urenrapportage in het CRM-systeem.
</p>
<br />

<h5><b>Takenlijst</b></h5>
<p>Ranshuijsen heeft zijn eigen Takenlijst gebouwd die verbonden is met het Logboek. Met de Takenlijst kunnen werknemers taken creëren, aangeven wie aan welke taken werken, de status ervan en de prioriteit. Daarnaast kan er aangegeven worden hoelang men verwacht met een taak bezig te zijn en de uren tracken met een timer. De gemaakte uren zijn terug te vinden in het Logboek gedeelte tot 7 dagen terug en in de urenrapportage.</p>
<br />

<h5><b>Microsoft Teams</b></h5>
<p>Ranshuijsen heeft ook zijn eigen teams omgeving waar werknemers vragen kunnen stellen, updates kunnen geven en andere werk gerelateerde onderwerpen kunnen plaatsen. Omdat niet alle werknemers altijd op kantoor zijn kan ik met Teams gemakkelijk in contact met hen komen. Zo heb ik ook een aantal interviews kunnen houden met degenen die niet op kantoor werken.</p>
<br />

<h5><b>Microsoft Outlook</b></h5>
<p>Gedurende mijn stage bij Ranshuijsen heb ik geleerd om meetings in te plannen met behulp van outlook. Outlook beschikt over een scheduling assistent waar ik de agenda van mijn bedrijfsbegeleider en andere werknemers kan inzien.</p>
<br />
<img src="images/Scheduling assistant.png"/>


<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
