@page "/bewijslast/leerdoel10"
@inject HttpClient Http

<h1>Leerdoel 10 - Professional skills</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om werkzaamheden zelfstandig uit te voeren door taken op te stellen en deze op te pakken en feedback te vragen.</i></p>

<h3 class="mat-subtitle1">Progress</h3>
<MatProgressBar Progress="0"></MatProgressBar>

<h3>Inleiding</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
