@page "/bewijslast/leerdoel9"
@inject HttpClient Http

<h1>Leerdoel 9 - Professional skills</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.</i></p>

<br />

<h3>Inleiding</h3>
<p>
    Tijdens mijn stage wil ik leren wat voor regels en procedures Ranshuijsen hanteert.
    Om dit te leerdoel te behalen zal ik een enquête maken om feedback te krijgen van mijn collega’s in hoeverre zij vinden dat ik me heb aangepast aan hun dagelijks manier van werken, regels en procedures.
    Daarnaast zal ik een kort samenvatting schrijven over de regels en procedures die me zijn opgevallen.
</p>

<h5><b>Werkwijze</b></h5>
<p>
    Voor het behalen van dit leerdoel heb ik me gedurende mijn stage gehouden aan de werkwijze, regels en procedures in het bedrijf. De werkwijze en regels die me zijn opgevallen, heb ik hieronder beschreven.
    Om feedback te krijgen van mijn collega’s in hoeverre zij vinden dat ik me heb aangepast aan hun dagelijks manier van werken, heb ik een enquête opgesteld om feedback te krijgen van mijn collega’s in hoeverre zij vinden dat ik me heb aangepast aan hun dagelijks manier van werken (zie Bewijslast 1). 
</p>
<br />

<h6><b>Informatiebeveiligingscursus</b></h6>
<p>
    Elk nieuwe medewerker bij Ranshuijsen moet een informatiebeveiligingscursus doen en deze succesvol hebben afgerond. De cursus bestaat uit verschillende modules over bepaalde onderwerpen en video’s.<br />
    Elk module bevat een meerkeuzevragen toets. In deze cursus wordt onder andere uitgelegd wat Algemene Verordening Gegevensbescherming (AVG) is, hoe Ranshuijsen omgaat met de veiligheid van gegevens, het wachtwoordbeleid en dat schermen moet vergrendeld zijn bij het verlaten van de werkplek (Clear Screen) en het netjes houden van je werkplek (Clear Desk).
</p>
<br />
<img src="images/Informatiebeveiligingscursus.png" />
<br />

<h6><b>Onboarding module</b></h6>
<p>
    Naast het voltooien van de informatiebeveiligingscursus moeten nieuwe werknemers ook een onboarding module doornemen.<br />
    Hierin staat onder andere een lijst van software die zelf geïnstalleerd moeten worden op de pc, het instellen van de email handtekeningen, hoe wachtwoorden vastgelegd moeten worden enz.
</p>
<br />

<h6><b>Weekstart</b></h6>
<p>
    Elke maandag om 10:00 uur houdt Ranshuijsen een weekstart meeting. Deze meeting vindt plaats in de Microsoft Teams omgeving. In deze meetings wordt onder andere besproken de support tickets, systeembeheer, wie aan welke projecten in de komende week gaan werken, bijzonderheden, afwezigheid enz.
</p>
<br />

<h6><b>Logboek</b></h6>
<p>
    Medewerkers kunnen hun uren bijhouden met het Logboek in het CRM-systeem van Ranshuijsen. Met het Logboek kan er aangegeven worden waar je op het moment mee bezig bent samen met de starttijd en eindtijd. Het logboek heeft een terugwerkende kracht van 7 dagen waar gebruikers evt. de tijden, datums en beschrijvingen nog kunnen veranderen. Om een rapportage te krijgen van al je gemaakte uren kan er gebruik worden gemaakt van de urenrapportage in het CRM-systeem.
</p>
<br />

<h6><b>Microsoft Teams</b></h6>
<p>Ranshuijsen heeft ook zijn eigen teams omgeving waar werknemers vragen kunnen stellen, updates kunnen geven en andere werk gerelateerde onderwerpen kunnen plaatsen. Omdat niet alle werknemers altijd op kantoor zijn kan ik met Teams gemakkelijk in contact met hen komen. Zo heb ik ook een aantal interviews kunnen houden met degenen die niet op kantoor werken.</p>
<br />

<h6><b>Microsoft Outlook</b></h6>
<p>Gedurende mijn stage bij Ranshuijsen heb ik geleerd om meetings in te plannen met behulp van outlook. Outlook beschikt over een scheduling assistent waar ik de agenda van mijn bedrijfsbegeleider en andere werknemers kan inzien.</p>
<br />
<div>
    <img src="images/Scheduling assistant.png" />
</div>
<br />
<br />

<h5><b>Bewijslast 1</b></h5>
<div>
    <p>
        <i>
        Voor de enquête heb ik de volgende vragen opgesteld. Hierin zitten ook de vragen bij die ik heb opgesteld voor Leerdoel 10.
        Om te voorkomen dat collega’s twee enquêtes moeten invullen, heb ik de vragen van de twee leerdoelen samengevoegd.
        De vragen hieronder, zijn de vragen die ik heb gesteld om feedback te krijgen over mijn manier van werken.
        </i>
        <br /><br />
        ========= Manier van werken =========
        <br /><br />
        Hoe was het om met mij om te gaan en/of samen te werken?
        <br /><br />
        Wat vond je van de manier waarop ik te werk ben gegaan gedurende mijn stage?
        <br /><br />
        Hoe vind je dat ik me heb aangepast aan jullie dagelijks manier van werken, regels en procedures?
        <br /><br />
    </p>
</div>
<h6><b>Feedback collega's</b></h6>
<p><i>Hieronder zie je de antwoorden die ik heb gekregen over de vragen die ik heb gesteld over mijn manier van werken.</i></p>
<div>
    <img src="images/FeedbackCollegaWerkwijze.png" style="max-width: 80vw; height:auto;" />
</div>
<br />

<h5><b>Feedback bedrijfsbegeleider</b></h5>
<p>
    <i>
    "Ik kan niet anders zeggen dan dat ze onze werkwijze goed uitvoeren.
    Ondanks dat de onboarding wellicht niet alle elementen van de werkwijze helemaal uiteenzet passen ze de feedback op hun werkwijze soepel aan"
    </i>
</p>
<br />

<h5><b>Reflectie</b></h5>
<p>
    Als feedback heb ik gekregen de volgende feedbackpunten gekregen dat mijn collega’s mij gegeven hebben in de manier van werken sectie van de enquête:
    <br /><br />
    Hoe was het om met mij om te gaan en/of samen te werken?
    <ul>
        <li>Het was fijn om met jullie te werken/ omgaan. Jullie kunnen je goed aanpassen (zonder moeite er mee te hebben) aan de omgeving en dat maakt het flexibel en prettig. </li>
        <li>Altijd vrolijk, maar eigenlijk hoorden we nooit echt veel van je omdat je vrij afgezonderd was van de rest.</li>
        <li>Goed, prettig in de omgang.</li>
    </ul>
    Wat vond je van de manier waarop ik te werk ben gegaan gedurende mijn stage?
    <ul>
        <li>Goed voorbereid, je presentatie destijds was duidelijk en zorgvuldig in elkaar gezet.</li>
        <li>Goed, netjes werk afgeleverd waar we iets mee kunnen</li>
        <li>Voor mijn gevoel is er gestructureerd en geconcentreerd gewerkt</li>
        <li>Ik zag jullie heel vak in jullie kantoorruimte hard aan het werk achter de computer, in overleg met elkaar of met collega’s. Goede inzet dus! Mag wel iets vaker uit je hok :P</li>
    </ul>
    Hoe vind je dat ik me heb aangepast aan jullie dagelijks manier van werken, regels en procedures?
    <ul>
        <li>Zover ik weet hebben jullie alle regels en procedures netjes gevolgd.</li>
        <li>Goed, we hebben niet zo veel regels dus dat scheelt :-)</li>
        <li>Zover relevant; prima</li>
        <li>Goed volgens de regels. Meegedaan met standups!</li>
    </ul>
    <br />
    Een feedbackpunt die ik van mijn collega’s heb gekregen wat ik zou moeten verbeteren, is vaker uit mijn hok mag komen en meer moet socializen, omdat ik mezelf anders te veel afzonder van de rest van het bedrijf.
    Hierdoor hebben niet veel collega’s me beter leren kennen. 
    <br /><br />
    Vaak wanneer ik op kantoor kwam, ben ik meteen aan de slag gegaan met mijn stageopdracht en maakte ik alleen af en toe een praatje met mijn collega’s.
    Van de gekregen feedback heb ik echter geleerd dat collega’s juist willen dat ik meer ga socializen zodat ze me beter leren kennen.
    Wat ik zou kunnen doen in de toekomst is om mee te lunchen met mijn collega’s zodat we elkaar beter leren kennen.
    Door de maatregelen en huidige situatie vind ik het echter comfortabeler om te lunchen in mijn eigen kantoor.
    <br /><br />
    Wat ik voor de volgende keer anders kan doen is om eerder enquêtes te versturen naar mijn collega’s, omdat ik pas op vrijdag (week 17 in de planning) de enquête heb opgesteld en verstuurd.
    Hierdoor heb ik helaas alleen van een aantal collega’s feedback kunnen krijgen.
    <br /><br />
    Gedurende mijn stage heb ik me geprobeerd aan de werkwijze, regels en procedures te houden. In het begin faalde ik hier enkele keren in, omdat ik bijvoorbeeld de wachtwoord uit een e-mail kopieërde i.p.v. met Keepass en/of documenten gebruikte die niet behoren tot de huisstijl van Ranshuijsen.
    Hierop heeft Rim me dan ook op aangesproken en heb me meteen aangepast aan de gegeven feedback. Na een tijd werd het een automatisme huisstijl documenten en Keepass constant te gebruiken.
    <br /><br />
    Terugkijkend op het proces vind ik dat ik leerdoel heb behaald, omdat mijn collega’s me veel positieve feedbackpunten hebben gegeven over mijn werkwijze en of ik me aan de regels/procedure heb gehouden. 
    Wanneer ik iets niet goed deed, sprak Rim me hierop aan waarna ik me meteen aan heb gepast aan de gegeven feedback. Na het afronden van deze stage heb ik een beter beeld van wat voor regels en procedure ik kan verwachten in een softwarebedrijf.
</p>
