@page "/bewijslast/leerdoel3"

<h1>Leerdoel 3 - Analyseren</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om de functionaliteiten en ontwerp van verschillende rapportagetools te onderzoeken.</i></p>

<h3>Inleiding</h3>
<h3>Toelichting</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
