@page "/bewijslast/leerdoel5"
@inject HttpClient Http

<h1>Leerdoel 4 - Ontwerpen</h1>
<p><i>Ik wil na afloop van mijn stage in staat zijn om een ontwerp op te stellen voor een rapportagetool.</i></p>

<h3>Inleiding</h3>
<h3>Toelichting</h3>
<h3>Bewijsmateriaal</h3>
<h3>Feedback bedrijfsbegeleider</h3>
<h3>Reflectie</h3>

@code {

}
