@page "/beoordelingsformulier"
@inject HttpClient Http

<h1>Beoordelingsformulier bedrijfsbegeleider</h1>
<p><i>Hieronder zie je het beoordelingsformulier dat mijn bedrijfsbegeleider heeft ingevuld.</i></p>

<div class="pdfviewer">
    <embed src="pdf/AdviesFormulier.pdf" style="height: 80vh; width: 90vw;"/>
</div>