@page "/stageplan"
@inject HttpClient Http

<h1>Stageplan</h1>

<p>Coming soon...</p>


<table class="table">
    <thead>
        <tr>
            <th>Leerdoelen</th>
            <th>Bewijslast</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var learninggoal in learningGoals)
        {
            <tr>
                <td>@learninggoal.goal</td>
                <td>@learninggoal.evidence</td>
            </tr>
        }*@
    </tbody>
</table>


@*@code {
    private LearningGoal[] learningGoals;

    protected override async Task OnInitializedAsync()
    {
        learningGoals = await Http.GetFromJsonAsync<LearningGoal[]>("data/leerdoelen.json");
    }

    public class LearningGoal
    {
        public string goal { get; set; }

        public string evidence { get; set; }
    }
}*@
