@page "/"

<h1>Hallo!</h1>
Welkom bij mijn derdejaarsstage portfolio.<br /><br />

Als onderdeel van mijn opleiding Informatica aan de Hogeschool Rotterdam moet ik in mijn derde schooljaar stagelopen. <br />
Dit heb ik gedaan bij Ranshuijsen BV vanaf 1 september 2021 tot en met 19 januari 2022. Gedurende mijn stage hier werk ik elke week van maandag tot en met vrijdag van 8:30 tot 17:00 uur op het kantoor in Rotterdam Westblaak.<br />
<br />

@*<div style="flex">
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Stageplan
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    Derdejaarsstage 2021-2022
                </MatSubtitle2>
            </div>

            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                Voor mijn stage heb ik een stageplan moeten opstellen die 5 competenties bevat met 10 leerdoelen...
            </MatBody2>
        </MatCardContent>
    </MatCard>

    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Bewijslast
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    Derdejaarsstage 2021-2022
                </MatSubtitle2>
            </div>

            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                Voor mijn stage heb ik een stageplan moeten opstellen die 5 competenties bevat met 10 leerdoelen...
            </MatBody2>
        </MatCardContent>
    </MatCard>
</div>*@

<style>
    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>