@page "/"

<div id="introtext">
    <h1>Hallo!</h1>
    Welkom bij mijn derdejaarsstage portfolio.<br /><br />

    Als onderdeel van mijn opleiding Informatica aan de Hogeschool Rotterdam moet ik in mijn derde schooljaar stagelopen. <br />
    Dit heb ik gedaan bij Ranshuijsen BV vanaf 1 september 2021 tot en met 19 januari 2022. Gedurende mijn stage hier werk ik elke week van maandag tot en met vrijdag op het kantoor in Rotterdam Westblaak.
</div>


<style>
    #introtext {
        margin-bottom: 2%;
    }
</style>
