@page "/"

<div id="introtext">
    <h1>Hallo!</h1>
    Welkom bij mijn derdejaarsstage portfolio.<br /><br />

    Als onderdeel van mijn opleiding Informatica aan de Hogeschool Rotterdam moet ik in mijn derde schooljaar stagelopen. <br />
    Dit heb ik gedaan bij Ranshuijsen BV vanaf 1 september 2021 tot en met 19 januari 2022. Gedurende mijn stage hier werk ik elke week van maandag tot en met vrijdag op het kantoor aan de WestBlaak in Rotterdam.
    Op deze website kan je onder andere mijn stageplan, beoordelingsformulier en leerdoelen vinden.
    <br /><br />
    Graag wil ik mijn stagebegeleider Rim Ranshuijsen, mijn collega's en stagedocent Lotte Muilwijk bedanken voor de hulp en feedback tijdens mijn stage.
    <br /><br />
    Gorinchem, 17-01-2022
    <br /><br />
    Wing Yee Chung
</div>


<style>
    #introtext {
        margin-bottom: 2%;
    }
</style>
