@page "/"

<h1>Hallo!</h1>
Welkom bij mijn derdejaarsstage portfolio.

Als onderdeel van mijn opleiding Informatica aan de Hogeschool Rotterdam moet ik in mijn derde schooljaar stagelopen. Dit heb ik gedaan bij Ranshuijsen BV vanaf 1 september 2021 tot en met 19 januari 2022.
<br />
<br />

<b>Ranshuijsen BV</b>
<br />
Ranshuijsen BV is een softwarebedrijf dat in 2009 is opgericht door Rim Ranshuijsen. Het bedrijf ligt in Rotterdam Westblaak en heeft ongeveer 20 medewerkers in dienst. Samen met verschillende klanten zoals het Veiligheidshuis Rotterdam-Rijnmond, NPZR&o, RWV Advocaten, NDC en DHL ontwikkelen zij software die recht doet aan wat gebruikers nodig hebben om sneller en slimmer te kunnen werken.


<br />
<br />
Op dit moment ben ik nog bezig met het opzetten van de website :)

