@page "/"

<h1>Hallo!</h1>
Welkom bij mijn derdejaarsstage portfolio.

Als onderdeel van mijn opleiding Informatica aan de Hogeschool Rotterdam moet ik in mijn derde schooljaar stagelopen. Dit heb ik gedaan bij Ranshuijsen BV vanaf 1 september 2021 tot en met 19 januari 2022.
<br />
<br />

<b>Ranshuijsen BV</b><br />
Ranshuijsen is in 2009 opgericht door Rim Ranshuijsen met als doel om samen met hun klanten software te ontwikkelen die recht doet aan wat gebruikers nodig hebben om hun werk efficient en met plezier te kunnen doen. Ze zijn klein gestart met een kantoor bij de Oude Haven in Rotterdam. Daar namen ze hun eerste personeelslid aan. Via een verhuizing naar de Veerhaven in 2011 en de bruisende Witte de Withstraat in 2016 naar hun huidige kantoor op de Westblaak. In januari 2020 is Joel Smit als mede eigenaar toegetreden tot het bedrijf. Inmiddels bestaat hun team uit 20 mensen, met allemaal dezelfde passie voor het ontwikkelen van mensvriendelijke software.


<br /><br />
Op dit moment ben ik nog bezig met het opzetten van de website :)

