@page "/inleiding"

<h3>Introductie</h3>
<p>
    Mijn naam is Wing Yee Chung. Momenteel ben ik een derdejaars Informatica student aan de Hogeschool Rotterdam en loop ik een half jaar stage bij Ranshuijsen BV.
    Mijn doel hier is om hier praktijkervaring en belangrijke technologische vaardigheden op te doen zodat ik mijn kennis kan uitbreiden. 
</p>

<div class="mat-layout-grid mat-layout-grid-align-left">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-1">
            <img src="images/ranshuijsen logo.png" style="width:100%;height:auto;display:inline-block" />
        </div>
        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-8">
            <h3>Ranshuijsen BV</h3>
            <p>Ranshuijsen BV is een softwarebedrijf dat in 2009 is opgericht door Rim Ranshuijsen. Het bedrijf ligt in Rotterdam Westblaak en heeft ongeveer 20 medewerkers in dienst. Samen met verschillende klanten zoals het Veiligheidshuis Rotterdam-Rijnmond, NPZR&o, RWV Advocaten, NDC en DHL ontwikkelen zij software die recht doet aan wat gebruikers nodig hebben om sneller en slimmer te kunnen werken.</p>
            <br />
        </div>
    </div>
</div>

<h3>Stageopdracht</h3>
<p href="stageopdracht">
    Het doel van de stageopdracht is om een POC voor een rapportagetool ingebed te hebben in een van de bestaande systemen van Ranshuijsen waarbij gebruikers zelf rapporten samen kunnen stellen op basis van datacontainers die uit hun systemen komen.<br />
    Allereerst zal ik onderzoek moeten doen naar verschillende rapportagetools en POC's maken voor de gevonden tools.
    Op basis van de POC's en de onderzoek hiervan zal een adviesrapport uitgebracht worden met welk tool het beste past bij Ranshuijsen BV. 
    De gekozen tool zal vervolgens geïmplementeerd worden in het CRM-systeem van Ranshuijsen BV ontwikkeld in Blazor en MVC. 
    <br /><br />
</p>
<br />

<h3>Leerdoelen</h3>
<p>
    Hieronder vind je mijn opgestelde leerdoelen voor mijn stage. Elk leerdoel beschrijft de werkwijze van het proces, de bewijslasten die hieruit zijn voortgekomen, feedback van collega's en een reflectie op de gekregen feedback.
</p>

<h5>Competentie I: Manage en Control </h5>
<a href="bewijslast/leerdoel1">Projectvoortgang</a>
<h5>Competentie II: Analyseren </h5>
<a href="bewijslast/leerdoel2">Requirementsanalyse</a><br />
<a href="bewijslast/leerdoel3">Onderzoek rapportagetools</a>
<h5>Competentie III: Adviseren </h5>
<a href="bewijslast/leerdoel4">Adviesrapport</a>
<h5>Competentie IV: Ontwerpen </h5>
<a href="bewijslast/leerdoel5">UML-diagrammen en Mock-up</a><br />
<a href="bewijslast/leerdoel6">ERD</a>
<h5>Competentie V: Realiseren </h5>
<a href="bewijslast/leerdoel7">Kwaliteitsstandaarden</a><br />
<a href="bewijslast/leerdoel8">Implementeren</a>
<h5>Competentie VI: Professional Skills </h5>
<a href="bewijslast/leerdoel9">Werkwijze, regels en procedures</a><br />
<a href="bewijslast/leerdoel10">Zelfstandigheid</a>