@page "/literatuurlijst"
@inject HttpClient Http

<h1>Literatuurlijst</h1>
<br />
GeeksForGeeks. (2020, April 29). Functional vs Non Functional Requirements. Opgehaald van GeeksForGeeks:<br />
&nbsp;&nbsp;&nbsp;&nbsp;    https://www.geeksforgeeks.org/functional-vs-non-functional-requirements/
<br />
Marthijn. (2020, November 3). Leer prioriteiten stellen door de MoSCoW-methode. Opgehaald van omcbase:<br />
&nbsp;&nbsp;&nbsp;&nbsp;    https://www.omcbase.nl/moscow/
<br />
Microsoft. (zd). Blazor. Opgehaald van Microsoft:<br />
&nbsp;&nbsp;&nbsp;&nbsp;    https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor
<br />
Teamleader. (2021, Augustus 18). Wat is een Gantt-chart en waarom is het belangrijk? Opgehaald van Teamleader:<br />
&nbsp;&nbsp;&nbsp;&nbsp;    https://www.teamleader.nl/blog/gantt-chart
<br />
Toolshero. (zd). Product Breakdown Structure (PBS). Opgehaald van toolshero: <br />
&nbsp;&nbsp;&nbsp;&nbsp;   https://www.toolshero.nl/project-management/product-breakdown-structure/
