@page "/stageplan"
@inject HttpClient Http

<h1>Stageplan</h1>
<br />
<p><b>Naam student: </b>Wing Yee chung</p>
<p><b>Opleiding: </b>Informatica Hogeschool Rotterdam</p>
<p><b>Datum stage: </b>1 september 2021 t/m 19 januari 2022</p>
<p><b>Stagebedrijf: </b>Ranshuijsen</p>
<p><b>Bedrijfsbegeleider: </b>Rim Ranshuijsen</p>
<br />

<div class="mat-layout-grid mat-layout-grid-align-left">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-1">
            <img src="images/ranshuijsen logo.png" style="width:100%;height:auto;display:inline-block" />
        </div>
        <div class="mat-layout-grid-cell  mat-layout-grid-cell-span-8">
            <h3>Ranshuijsen BV</h3>
            <p>Ranshuijsen BV is een softwarebedrijf dat in 2009 is opgericht door Rim Ranshuijsen. Het bedrijf ligt in Rotterdam Westblaak en heeft ongeveer 20 medewerkers in dienst. Samen met verschillende klanten zoals het Veiligheidshuis Rotterdam-Rijnmond, NPZR&o, RWV Advocaten, NDC en DHL ontwikkelen zij software die recht doet aan wat gebruikers nodig hebben om sneller en slimmer te kunnen werken.</p>
            <br />
        </div>
    </div>
</div>

<h3>Stageopdracht</h3>
<p href="stageopdracht">
    Het doel van de stageopdracht is om in een van de bestaande systemen van Ranshuijsen een POC voor een rapportagetool ingebed te hebben waarbij gebruikers zelf rapporten samen kunnen stellen op basis van datacontainers die uit hun systemen komen.<br />
    Het zal waarschijnlijk nodig zijn om de data uit de relationele databases over te zetten naar een datawarehouse omgeving.
    Als Proof of concept omgeving kan gebruikt worden van het CRM-systeem van Ranshuijsen ontwikkeld in Blazor en MVC.<br /><br />

    <b>Gedurende mijn stage zal ik werken aan de volgende taken:</b><br />
    <ul>
        <li>Het uitzoeken van hoe verschillende rapportagetools & componenten werken</li>
        <li>Het maken van een selectie uit de verschillende rapportagetool opties </li>
        <li>Het ontwerpen en implementeren van de gekozen rapportagetool & component in een van onze bestaande producten</li>
        <li>Het ontwerpen en implementeren van een database/datawarehouse</li>
        <li>Het ontwerpen van een gebruiksvriendelijke web- of appinterface om dit allemaal te bedienen.</li>
        <li>Daarnaast werk ik mee in een team van developers die werken aan het CRM-systeem</li>
    </ul>
</p>
<br />

<h3>Leerdoelen en Competenties</h3>

<table class="table">
    <thead>
        <tr>
            <th style="width: 2%">Nr.</th>
            <th style="width: 49%">LEERDOELEN</th>
            <th style="width: 49%">BEWIJSLAST</th>
        </tr>
    </thead>
    <tbody>
        <tr class="subhead">
            <th></th>
            <th>Manage &#38; Control</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">1</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om mijn (project)voortgang te bewaken.</td>
            <td>Screenshots van takenlijst/Gantt chart<br />Logboek van voortgangsmeetings met bedrijfsbegeleider</td>
        </tr>
        <tr class="subhead">
            <th></th>
            <th>Analyseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">2</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een requirementsanalyse uit te voeren met verschillende belanghebbenden.</td>
            <td>Opgestelde requirements met akkoord van de belanghebbenden en e.v.t. verwerkte feedback</td>
        </tr>
        <tr>
            <td style="text-align: center">3</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om de functionaliteiten en ontwerp van verschillende rapportagetools te onderzoeken.</td>
            <td>Verslag van verschillende rapportagetools</td>
        </tr>
        <tr class="subhead">
            <th></th>
            <th>Adviseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">4</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om advies te geven over een keuze uit verschillende rapportagetools.</td>
            <td>Adviesrapport</td>
        </tr>
        <tr class="subhead">
            <th></th>
            <th>Ontwerpen</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">5</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een ontwerp op te stellen voor een rapportagetool.</td>
            <td>UML-Diagrammen<br />Mock-up</td>
        </tr>
        <tr>
            <td style="text-align: center">6</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een ontwerp op te stellen voor een database/datawarehouse.</td>
            <td>ERD</td>
        </tr>
        <tr class="subhead">
            <th></th>
            <th>Realiseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">7</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een rapportagetool te realiseren die voldoet aan de opgestelde requirements en met kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.</td>
            <td>Het tonen van code in relatie met ontwerp, design pattern en dat de documentatie goed verzorgd is, code snippets<br />Feedback van je begeleider/collega’s (ifeedbackformulieren, opnames, gespreksverslagen, mailwisselingen, chatgesprekken, ed)</td>
        </tr>
        <tr>
            <td style="text-align: center">8</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een rapportagetool te implementeren in een bestaand systeem met gebruik van bestaande frameworks (MVC/Blazor).</td>
            <td>Het tonen van code in relatie met ontwerp, design pattern en dat de documentatie goed verzorgd is, code snippets</td>
        </tr>
        <tr class="subhead">
            <th></th>
            <th>Professional skills</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">9</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.</td>
            <td>Screenshot van succesvol afgeronde informatiebeveiligingscursus<br />Feedback van je begeleider/collega’s (ifeedbackformulieren, opnames, gespreksverslagen, mailwisselingen, chatgesprekken, ed)</td>
        </tr>
        <tr>
            <td style="text-align: center">10</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om werkzaamheden zelfstandig uit te voeren door taken op te stellen en deze op te pakken en feedback te vragen.</td>
            <td>Feedback van je begeleider/collega's (iFeedbackformulieren, opnames, gespreksverslagen, mailwisselingen, chatgesprekken, ed.)</td>
        </tr>
    </tbody>
</table>
<br />

<h3>Globale planning van leerdoelen</h3>

<table class="table">
    <thead>
        <tr>
            <th class="start_header">START</th>
            <th class="goal_header">LEERDOEL</th>
            <th class="activity_header">ACTIVITEIT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center">Week 1</td>
            <td style="text-align: center">1</td>
            <td>Gedurende mijn stage zal ik planningen maken en de (project)voortgang bijhouden in een logboek en takenlijst. Daarnaast zal ik ook mijn bedrijfsbegeleider up-to-date houden over hoe het ervoor staat met mijn voortgang door middel van voortgangsmeetings.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 2</td>
            <td style="text-align: center">2</td>
            <td>Vervolgens zal ik wanneer het bedrijf me heeft ingewerkt aan mijn tweede leerdoel werken en dat is het opstellen van een requirementsanalyse met verschillende belanghebbenden.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 3</td>
            <td style="text-align: center">3</td>
            <td>Na het opstellen van een requirementsanalyse zal ik werken aan mijn derde leerdoel en dat is het analyseren en uitzoeken van verschillende rapportagetools om vervolgens hier een verslag van te maken met daarin de functionaliteiten en ontwerp details van gevonden rapportagetools. Naast het analyseren en uitzoeken zal ik ook POC’s maken om tot een juiste keuze te komen.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 6</td>
            <td style="text-align: center">4</td>
            <td>Nadat ik de verschillende rapportagetools heb geanalyseerd en uitgezocht zal ik aan mijn vierde leerdoel werken en dat is het opstellen van een adviesrapport. Hierin maak ik een selectie van de verschillende opties die ik heb uitgezocht.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 7</td>
            <td style="text-align: center">5 &#38; 6</td>
            <td>Wanneer ik het adviesrapport heb opgesteld en de stagebegeleider een keuze heeft gemaakt uit de selectie zal ik werken aan mijn vijfde leerdoel. Het opstellen van een ontwerp voor de rapportagetool. Hierbij zal ik ontwerptechnieken gebruiken zoals een UML-diagram, activity-diagram een flowchart en zal ik voor de front-end verschillende mock-ups maken. Ook zal ik gedurende deze tijd werken aan mijn zesde leerdoel en dat is het ontwerpen van een ERD voor de database.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 9</td>
            <td style="text-align: center">7 &#38; 8</td>
            <td>Nadat ik de ontwerpen heb goed laten keuren en eventuele feedback heb verwerkt zal ik werken aan mijn zevende leerdoel, namelijk het implementeren van een rapportagetool met gebruik van bestaande frameworks (MVC en/of Blazor). Daarnaast zal ik ook aan mijn achtste leerdoel werken door rekening te houden met de requirements die we hebben opgesteld van de requirementsanalyse en de kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 1</td>
            <td style="text-align: center">9 &#38; 10</td>
            <td>Ten slotte zal ik gedurende mijn stage werken aan mijn professional skills. Hierbij zal ik me houden aan de regels, werkwijze en procedures van het bedrijf en zal ik werkzaamheden zelfstandig uitvoeren door zelf taken op te stellen en deze op te pakken. Daarnaast wil ik ook zelf het initiatief nemen om feedback te vragen wanneer ik het nodig heb.</td>
        </tr>
    </tbody>
</table>
<br />

<img src="images/globalplanning.png" />

