@page "/stageplan"
@inject HttpClient Http

<h1>Stageplan</h1>
<br />

<h3>Stageopdracht</h3>

<p>
    Wij maken mensvriendelijke software waarmee bedrijven wél sneller en slimmer kunnen werken. Dat doen we vanuit ons mooie kantoor aan de Westblaak in Rotterdam. Onderdeel van mooie software is dat de data die in onze systemen verwerkt worden ook gerapporteerd kunnen worden. Soms is dat complex en soms heel recht toe recht aan.
    Het doel is om in een van onze bestaande systemen een reporting engine beschikbaar te hebben waarbij gebruikers zelf rapporten samen kunnen stellen op basis van datacontainers die uit onze systemen komen. Het zal waarschijnlijk nodig zijn om de data uit onze relationele databases over te zetten naar een datawarehouse omgeving.
    Als Proof of concept omgeving kan gebruikt worden van ons eigen CRM-systeem ontwikkeld in Blazor en MVC.<br /><br />

    <b>Wat ga je doen</b><br />
    Aan het einde van je stage heb je een werkend softwaresysteem gebouwd dat onze verlichting aanstuurt. Daar zul je het volgende voor gaan doen:
    <ul>
        <li>Je zoekt uit hoe verschillende reporting engines & componenten werken</li>
        <li>Je maakt een selectie uit de verschillende opties</li>
        <li>Je ontwerpt en implementeert de gekozen reporting engine & component in een van onze bestaande producten</li>
        <li>Je ontwerpt en implementeert een database/datawarehouse</li>
        <li>Tenslotte zorg je voor een gebruiksvriendelijke web- of appinterface om dit allemaal te bedienen.</li>
        <li>Je werkt mee in het team van developers die werken aan ons CRM-systeem</li>
    </ul>

    <br />
    <b>Welke technieken gebruiken we</b>
    <ul>
        <li>ASP.NET MVC en/of .Net 5 in combinatie met blazor</li>
        <li>MSSQL-databases</li>
        <li>JQuery, SASS</li>
    </ul>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th style="width: 2%">Nr.</th>
            <th style="width: 49%">LEERDOELEN</th>
            <th style="width: 49%">BEWIJSLAST</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th>Manage en Control</th>
        </tr>
        <tr>
            <td style="text-align: center">1</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om mijn (project)voortgang te bewaken.</td>
            <td>stageplan, logboek, stagebegeleider up-to-date houden</td>
        </tr>
        <tr>
            <th></th>
            <th>Analyseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">2</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een requirementsanalyse uit te voeren met verschillende belanghebbenden.</td>
            <td>Opgestelde requirements met akkoord van de belanghebbenden en e.v.t. verwerkte feedback</td>
        </tr>
        <tr>
            <td style="text-align: center">3</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om de functionaliteiten en ontwerp van verschillende reporting engines te analyseren.</td>
            <td>Rapport met daarin de onderzoeksresultaten van verschillende reporting engines</td>
        </tr>
        <tr>
            <th></th>
            <th>Adviseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">4</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om te adviseren over een selectie uit verschillende reporting engines opties</td>
            <td>Adviesrapport</td>
        </tr>
        <tr>
            <th></th>
            <th>Ontwerpen</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">5</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een ontwerp op te stellen voor een reporting engine.</td>
            <td>Ontwerptechnieken zoals UML-diagrammen, AD, flowcharts en mock-up.</td>
        </tr>
        <tr>
            <td style="text-align: center">6</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een ontwerp op te stellen voor een database/datawarehouse</td>
            <td>ERD</td>
        </tr>
        <tr>
            <th></th>
            <th>Realiseren</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">7</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een reporting engine te implementeren in een bestaand systeem met gebruik van bestaande frameworks (MVC/Blazor).</td>
            <td>Het tonen van code in relatie met ontwerp, design pattern en dat de documentatie goed verzorgd is, code snippets</td>
        </tr>
        <tr>
            <td style="text-align: center">8</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om een reporting engine te realiseren die voldoet aan de opgestelde requirements en met kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.</td>
            <td>Het tonen van code in relatie met ontwerp, design pattern en dat de documentatie goed verzorgd is, code snippets</td>
        </tr>
        <tr>
            <th></th>
            <th>Professional skills</th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: center">9</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.</td>
            <td>Screenshot van succesvol afgeronde informatiebeveiligingscursus, doornemen van informatiebeveiligingscursus + onboarding module. Naleven van regels en werkwijze tijdens mijn stage</td>
        </tr>
        <tr>
            <td style="text-align: center">10</td>
            <td>Ik wil na afloop van mijn stage in staat zijn om werkzaamheden zelfstandig uit te voeren door taken op te stellen en deze op te pakken en feedback te vragen.</td>
            <td>Feedback van je begeleider/collega's (iFeedbackformulieren, opnames, gespreksverslagen, mailwisselingen, chatgesprekken, ed.)</td>
        </tr>
    </tbody>
</table>
<br />

<h3>Globale planning</h3>

<table class="table">
    <thead>
        <tr>
            <th class="start_header">START</th>
            <th class="goal_header">LEERDOEL</th>
            <th class="activity_header">ACTIVITEIT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center">Week 1</td>
            <td style="text-align: center">1</td>
            <td>Vanaf het begin van de stage ben ik van plan om aan mijn eerste leerdoel te werken door een planning te maken van wanneer ik verwacht te beginnen met taken en andere leerdoelen. In week 2 zal ik mijn stageplan ingeleverd en goedgekeurd moeten zijn. Gedurende mijn stage zal ik planningen maken en de (project)voortgang bijhouden in een logboek. Daarnaast zal ik ook mijn stagedocent en stagebegeleider up-to-date houden over hoe het ervoor staat met mijn voortgang.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 2</td>
            <td style="text-align: center">2</td>
            <td>Vervolgens zal ik wanneer het bedrijf me heeft ingewerkt aan mijn tweede leerdoel werken en dat is het opstellen van een requirementsanalyse met verschillende belanghebbenden.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 3</td>
            <td style="text-align: center">3</td>
            <td>Na het opstellen van een requirementsanalyse zal ik werken aan mijn derde leerdoel en dat is het analyseren en uitzoeken van verschillende reporting engines om vervolgens hier een rapport van te maken met daarin de functionaliteiten en ontwerp details van gevonden reporting engines. Naast het analyseren en uitzoeken zal ik ook POC’s maken om tot een juiste keuze te komen.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 6</td>
            <td style="text-align: center">4</td>
            <td>Nadat ik de verschillende reporting engines heb geanalyseerd en uitgezocht zal ik aan mijn vierde leerdoel werken en dat is het opstellen van een adviesrapport. Hierin maak ik een selectie van de verschillende opties die ik heb uitgezocht.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 7</td>
            <td style="text-align: center">5 &#38; 6</td>
            <td>Wanneer ik het adviesrapport heb opgesteld en de stagebegeleider een keuze heeft gemaakt uit de selectie zal ik werken aan mijn vijfde leerdoel. Het opstellen van een ontwerp voor de reporting engine. Hierbij zal ik ontwerptechnieken gebruiken zoals een UML-diagram, activity-diagram een flowchart en zal ik voor de front-end verschillende mock-ups maken. Ook zal ik gedurende deze tijd werken aan mijn zesde leerdoel en dat is het ontwerpen van een ERD voor de database. </td>
        </tr>
        <tr>
            <td style="text-align: center">Week 9</td>
            <td style="text-align: center">7 &#38; 8</td>
            <td>Nadat ik de ontwerpen heb goed laten keuren en eventuele feedback heb verwerkt zal ik werken aan mijn zevende leerdoel, namelijk het implementeren van een reporting engine met gebruik van bestaande frameworks (MVC en/of Blazor). Daarnaast zal ik ook aan mijn achtste leerdoel werken door rekening te houden met de requirements die we hebben opgesteld van de requirementsanalyse en de kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.</td>
        </tr>
        <tr>
            <td style="text-align: center">Week 1</td>
            <td style="text-align: center">9 &#38; 10</td>
            <td>Ten slotte zal ik gedurende mijn stage werken aan mijn professional skills. Hierbij zal ik me houden aan de regels, werkwijze en procedures van het bedrijf en zal ik werkzaamheden zelfstandig uitvoeren door zelf taken op te stellen en deze op te pakken. Daarnaast wil ik ook zelf het initiatief nemen om feedback te vragen wanneer ik het nodig heb.</td>
        </tr>
    </tbody>
</table>

<img src="images/globalplanning.png"/>

